.menu_mobile{
        font-size: 1rem;
        background-color: $white;
        position: absolute;
        width: 100%;
        z-index: 100;
        top: 60px;
        left: 0;
        right: 0;
        // display: none;
       .menu_mobile_items.active{
            display: block;
        }
        .menu_mobile_items{
            margin: 15px 0px 0px 15px;
            padding: 0;
            display: none;
            .bars_item{
                .item_name{
                    margin: 15px 0;
                    a{
                        color: $black;
                    }
                }
            }
        }
    }
 
